<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="travel.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="travel.js"></script>
</head>

<body ng-app="loadApp" ng-controller="locController" ng-init="disableSearchBtn=true">
    <div class="container">
        <form name="searchForm">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h4 class="card-title">Travel and Entertainment Search</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Keyword
                                    <span style="color:red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" pattern="^\S+$" ng-model="keyword" class="form-control" id="keyword" name="keyword" required>
                                <span style="color:red" ng-show="searchForm.keyword.$touched && searchForm.keyword.$invalid">Please enter a keyword.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="category">Category</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="category" ng-model="category" ng-init="category='default'">
                                    <option value="default">Default</option>

                                    <option value="airport">Airport</option>
                                    <option value="amusement_park">Amusement Park</option>
                                    <option value="aquarium">Aquarium</option>
                                    <option value="art_gallery">Art Gallery</option>

                                    <option value="bakery">Bakery</option>
                                    <option value="bar">Bar</option>
                                    <option value="beauty_salon">Beauty Salon</option>
                                    <option value="bowling_alley">Bowling Alley</option>
                                    <option value="bus_station">Bus Station</option>

                                    <option value="cafe">Cafe</option>
                                    <option value="campground">Campground</option>
                                    <option value="car_rental">Car Rental</option>
                                    <option value="casino">Casino</option>

                                    <option value="lodging">Lodging</option>
                                    <option value="movie_theater">Movie Theater</option>
                                    <option value="museum">Museum</option>
                                    <option value="night_club">Night Club</option>
                                    <option value="park">Park</option>
                                    <option value="parking">Parking</option>
                                    <option value="restaurant">Restaurant</option>
                                    <option value="shopping_mall">Shopping Mall</option>
                                    <option value="stadium">Stadium</option>
                                    <option value="subway_station">Subway Station</option>
                                    <option value="taxi_stand">Taxi Stand</option>

                                    <option value="train_station">Train Station</option>
                                    <option value="transit_station">Transit Station</option>
                                    <option value="travel_agency">Travel Agency</option>
                                    <option value="zoo">Zoo</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="distance">Distance</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="distance" placeholder="10" name="distance" ng-init="10" ng-model="distance">
                        </div>
                    </div>
                    <div class="radio">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>From
                                    <span style="color:red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>
                                    <input type="radio" name="location" ng-click="disableLocTxt=!disableLocTxt" checked> Current location</label>
                            </div>
                        </div>
                        <div class="radio">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <label>
                                        <input type="radio" name="location" ng-click="disableLocTxt=!disableLocTxt"> Other, Please specify:</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <input type="search" class="form-control" id="locationOther" placeholder="Enter a location" name="locationOther" ng-init="disableLocTxt=true"
                                        ng-disabled="disableLocTxt" ng-init="location=here" ng-model="location" ng-required="!disableLocTxt">
                                    <span style="color:red" ng-show="searchForm.locationOther.$touched && searchForm.locationOther.$invalid">Please enter a location.</span>
                                    <!--onfocus="geolocate()" -->
                                </div>

                            </div>
                            <div class="form-group"></div>
                            <button type="submit" ng-click="submitFormData()" class="btn btn-primary" ng-disabled=searchForm.$invalid>

                                <span class="fa fa-search"></span>Search
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Results and Favorites buttons -->
        <div class="text-center">
            <button type="button" class="btn btn-primary">
                Results
            </button>
            <button type="button" class="btn btn-outline-light text-dark">
                <span style="color:blue;">Favorities</span>
            </button>
        </div>
        <!--details button -->
        <div class="detailsBtn">
            <button type="button" id="detailsBtnId" class="btn btn-outline-dark hidden" disabled>
                Details
            </button>
        </div>
        <!--search results table -->
        <div class="table-responsive">
            <table class="table">
                <tr ng-repeat="result in results">
                    <td>
                        <img style="height: 45px; width: 45px;" ng-src="{{ result.icon }}" />
                    </td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.vicinity }}</td>
                    <td>
                        <button class="btn btn-outline-dark">
                            <span class="fa fa-star-o"></span>

                        </button>
                    </td>
                    <td>
                        <span class="fa fa-caret-square-o-right" style="font-size: 43px;"></span>
                    </td>
                </tr>
            </table>
        </div>
        <!--Pagination buttons -->
        <div class="text-center">
            <button type="button" id="prevBtn" class="btn btn-outline-dark equal-btn hidden" ng-click="fetchPrev()" style="margin-right:18px">
                Previous
            </button>
            <button type="button" id="nextBtn" class="btn btn-outline-dark equal-btn hidden" ng-click="fetchNext()">
                Next
            </button>
        </div>
    </div>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWBtO4XwwiZCwCDr6z2aK8rXZMuO0OTNM&libraries=places&callback=initAutocomplete"
    async defer></script>

</html>