.card-body h4 {
    text-align: center;
}

.text-center{
    padding-top: 20px;
    padding-bottom: 25px;
}

.detailsBtn{
    margin-left: 93%;
    padding-bottom: 9px;
}
.equal-btn{    
    width: 100px;
}
.hidden{
    display: none;
}
#displayOrder{
    margin-left: 3%;
}
.form-inline{
    margin-top:1%;
}

#map {
    height: 320px;
    width: 100%;
    margin-top: 1%;
}
#streetView {
    height: 320px;
    width: 100%;
    margin-top: 1%;
}
.animate-hide-l-r.ng-hide-remove {
    transform: translateX(-100%);
    transition: all linear 0.5s;
}

.animate-hide-l-r.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0%);
}

.animate-hide-r-l.ng-hide-remove {
    transform: translateX(100%);
    transition: all linear 0.5s;
}

.animate-hide-r-l.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0%);
}
